<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MetaExploreX</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'charts.css' %}">
</head>
<body>
    <div class="container mt-4 mt-3">
        <h1>MetaExploreX</h1>
        <div id="cancel-section">
            <form action="{% url 'home' %}" class="analysis-options" method="GET" enctype="multipart/form-data" id="upload-form">
                <input type="submit" class="btn btn-primary" id="cancel-button" onclick="cancelUpload()" value="Back"/>
            </form>
        </div>

        <div class="chart-container mt-3">
            <canvas id="chart1"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="chart2"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="chart3"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="chart4"></canvas>
        </div>
        <div class="chart5">
            <canvas id="chart5"></canvas>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="chart6">
            <canvas id="chart6"></canvas>
        </div>
    </div>


    <script>
        function generateRandomColors(numColors) {
        var colors = [];
        for (var i = 0; i < numColors; i++) {
            var randomColor = 'rgba(' + Math.floor(Math.random() * 256) + ',' + Math.floor(Math.random() * 256) + ',' + Math.floor(Math.random() * 256) + ', 0.5)';
            colors.push(randomColor);
        }
        return colors;
    }
var numMRs = {{ chart_data.labels|length }}; 

var chartData = {
    labels: {{chart_data.labels|safe}},
    datasets: [{
        label: 'Number of Violations',
        data:  {{chart_data.data|safe}},
        backgroundColor: generateRandomColors(numMRs),
        borderColor: generateRandomColors(numMRs),
        borderWidth: 1
    }]
};

var ctx = document.getElementById('chart1').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: chartData,
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            y: {
                beginAtZero: true
            }
        },
        title: {
                display: true,
                text: 'Distribution of Violations by Metamorphic Rule'
            }

    }
});

var chartData2 = {
    labels: {{chart_data2.labels|safe}},
    datasets: [{
        label: 'Number of Non Violations',
        data:  {{chart_data2.data|safe}},
        backgroundColor: generateRandomColors(numMRs),
        borderColor: generateRandomColors(numMRs),
        borderWidth: 1
    }]
};

var ctx2 = document.getElementById('chart2').getContext('2d');
var myChart2 = new Chart(ctx2, {
    type: 'doughnut',
    data: chartData2,
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            y: {
                beginAtZero: true
            }
        },
        title: {
                display: true,
                text: 'Distribution of Non Violations by Metamorphic Rule'
            }

    }
});

var chartData3 = {
    labels: {{chart_data3.labels|safe}} ,
    datasets: [{
        label: 'Crashed MRs',
        data: {{chart_data3.data|safe}},
        backgroundColor: generateRandomColors(numMRs),
        borderColor: generateRandomColors(numMRs),
        borderWidth: 1
    }]
};

var ctx3 = document.getElementById('chart3').getContext('2d');
let delayed;
var myChart3 = new Chart(ctx3, {
    type: 'bar',
    data: chartData3,
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            y: {
                beginAtZero: true
            }
        },
        animation: {
        onComplete: () => {
            delayed = true;
        },
        delay: (context) => {
            let delay = 0;
            if (context.type === 'data' && context.mode === 'default' && !delayed) {
            delay = context.dataIndex * 300 + context.datasetIndex * 100;
            }
            return delay;
        },
},
        title: {
                display: true,
                text: 'Counts of Crashed Values in MR Checker Columns'
            }
    }
});


var chartData4 = {
    labels: {{chart_data4.labels|safe}} ,
    datasets: [{
        label: 'Crashed MRs',
        data: {{chart_data4.data|safe}},
        backgroundColor: generateRandomColors(numMRs),
        borderColor: generateRandomColors(numMRs),
        borderWidth: 1
    }]
};

var ctx4 = document.getElementById('chart4').getContext('2d');
var myChart4 = new Chart(ctx4, {
    type: 'bar',
    data: chartData4,
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            y: {
                beginAtZero: true
            }
        },
        animation: {
        onComplete: () => {
            delayed = true;
        },
        delay: (context) => {
            let delay = 0;
            if (context.type === 'data' && context.mode === 'default' && !delayed) {
            delay = context.dataIndex * 300 + context.datasetIndex * 100;
            }
            return delay;
        },
},
        title: {
                display: true,
                text: 'Counts of Values in MR Checker Columns'
            }
    }
});

var chartData5 = {
    labels: {{chart_data5.labels|safe}},
    datasets: {{chart_data5.datasets|safe}} 
};

var ctx5 = document.getElementById('chart5').getContext('2d');
var myChart5 = new Chart(ctx5, {
    type: 'bar',
    data: chartData5,
    options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Distribution of Output Values for MR Violations'
            }
    },
}                                                                      
});

var chartData6 = {
    labels: {{chart_data6.labels|safe}},
    datasets: {{chart_data6.datasets|safe}} 
};

var ctx6 = document.getElementById('chart6').getContext('2d');
var myChart6 = new Chart(ctx6, {
    type: 'bar',
    data: chartData6,
    options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Distribution of Output Values for MR Nonviolations'
            }
    },
}                                                                      
})


    </script>
</body>
</html>